# Python
*.pyc
__pycache__/

# Environments
.venv/
env/
ENV/
venv/
.env/
# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3

# Migrations
myapp/migrations/*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment Variables
.env

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
